body {
    background-color: black;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 32px;
}

header {
    position: relative;
}

header img {
    margin-left: 50px;
    margin-right: 50px;
    width: 70%;
    height: 300px;
}

.gameName {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 55px;
    color: #e56a1f;
    position: absolute;
    top: 200px;
    left: 33%;
}

.letter {
    background-color: #b94500;
    color: #fde1d0;
    border-color: #fbb52b;
    width: 40px;
    height: 45px;
    margin: 5px;
}

.letter:focus {
    outline: 0;
}

#left {
    text-align: center;
    border: 2px dashed #b94500;
    width: 45%;
    height: 310px;
    margin-left: 55px;
    margin-top: -20px;
    padding: 15px;
    background-color: #130601;
}

#right {
    text-align: left;
    border: 2px dashed #b94500;
    width: 45%;
    height: 310px;
    margin-left: 50px;
    margin-top: -20px;
    padding: 30px;
    background-color: #130601;
    color: #fbb52b;

}

@media screen and (max-width: 640px) {

    header {
        max-width: none;
        width: 100%;
        position: relative;
    }

    header img {
        max-width: none;
        height: 80%;
    }

    .gameName {
        max-width: none;
        width: 40%;
        font-size: 38px;
        position: absolute;
        top: 65%;
        left: 31%;
    }

    #left,
    #right {
        max-width: none;
        width: 90%;
        padding: 10px;
        margin: 20px;
    }

    .letter {
        padding: 10px;
    }
}
